<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />


<div class="page-loader">
    <div class="loader">
        <div>
            <img src="https://dfccil.com/images/logo.png">
        </div>
        <div class="loader-container">
            <div class="dot-loader"></div>
            <div class="dot-loader"></div>
            <div class="dot-loader"></div>
        </div>
    </div>
</div>
<script>
    $(window).on('load', function () {
        $('.page-loader').hide();
    });
</script>
<div class="col-12 grid-margin trh">
    <div class="card trh">

        <div class="card-body trh">
            <div class="six">
                <h1>
                    Tour Request
                    <span></span>
                </h1>
            </div>


        </div>

    </div>

</div>
<div id="divTourRequestedList" class="col-lg-12 stretch-card new">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Applied Request</h4>
            <div class="table-responsive">
                <table class="table table-striped table-head">
                    <thead>
                        <tr>
                            <th>
                                Sr No.
                            </th>
                            <th>
                                Request Date
                            </th>
                            <th>
                                Purpose of Tour
                            </th>
                            <th>
                                Tour Start Date
                            </th>
                            <th>
                                Total Days
                            </th>
                            <th>
                                Source
                            </th>
                            <th>
                                Destination
                            </th>
                            

                            <th>
                                Status
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody id="tbodyTourRequested">
                        <tr><td colspan="10" class="text-center">No Record Found</td></tr>
                        @*<tr>
                        <td>
                        02/10/2023
                        </td>
                        <td>
                        Office Meeting
                        </td>
                        <td>
                        02/10/2023
                        </td>
                        <td>
                        New Delhi
                        </td>
                        <td>
                        Jaipur
                        </td>
                        <td>
                        6
                        </td>



                        <td class="font-weight-medium"><div class="badge badge-success">Approved</div></td>

                        <td><button type="button" id="btnSubmit" class="btn btn-primary mb-2">Details</button></td>
                        <td><button type="button" id="btn" class="btn btn-danger mb-2">Cancel</button></td>
                        </tr>
                        <tr>
                        <td>
                        02/09/2023
                        </td>
                        <td>
                        Office Meeting
                        </td>
                        <td>
                        17/09/2023
                        </td>
                        <td>
                        New Delhi
                        </td>
                        <td>
                        Mumbai
                        </td>
                        <td>
                        4
                        </td>

                        <td class="font-weight-medium"><div class="badge badge-warning">Pending Approval</div></td>

                        <td><button type="submit" id="btnSubmit" class="btn btn-primary mb-2">Details</button></td>
                        </tr>*@

                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
<button type="button" onclick="btnNewTourRequest_Click(this)" id="btnNewTourRequest" class="btn btn-info mb-2 advancenew"><i class="fa fa-plus" aria-hidden="true"></i> New Tour Request</button> &nbsp;&nbsp;@*<button type="submit" id="btnSubmit" class="btn btn-info mb-2 advancenew claims"><i class="fa fa-plus" aria-hidden="true"></i> View Past Claim</button>*@
@* approver details *@
<div id="divApproverDetails" style="display:none" class="col-12 stretch-card grid-margin">
    <div class="card">
        <div class="card-body">
            <p class="card-title mb-3">Approver Details</p>
            <hr style="background:#343277" />
            <div class="row">
                <div class="col-lg-4 col-md-6">


                    <div class="d-flex justify-content-between align-items-center flex-wrap mb-1 mt-1">
                        <label for="spanAdvanceApprovedDate" class="text-inform mb-0">Approval Date:.</label>
                        <span class="mb-0 text-start span-text" id="spanAdvanceApprovedDate">25/09/2023 11:45 AM</span>

                    </div>

                </div>
                <div class="col-lg-4 col-md-6">


                    <div class="d-flex justify-content-between align-items-center flex-wrap mb-1 mt-1">
                        <label for="spanAdvanceApprovedBy" class="text-inform mb-4">Approved By:</label>
                        <div class="mt-0 mb-0">
                            <span class="mb-0 text-start span-text" id="spanAdvanceApprovedBy">Amit Singh</span><br />
                            <span class="mb-0 text-end span-text singnature-text" id="spanAdvanceDesignation">(Designation)</span>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4 col-md-6 mb-1 mt-1">

                    <a id="anchorDownloadTourApproval" href="#" target="_blank" class="btn btn-commen btn-primary">Download Tour Approval</a>

                </div>

            </div>

        </div>
    </div>
</div>

@*  advance table start*@

<div id="divTourProgram" style="display:none" class="col-12 grid-margin">
    <div class="card">

        <div class="card-body">
            <div class="six">
                <h4 class="card-title">Tour Program Approval</h4>
            </div>

            <form class="form-sample advance">

                <div class="row">

                    <div class="col-md-12">
                        <div class="form-group row">
                            <label class="col-lg-2 col-form-label">Purpose of Tour</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control widthpurpose" id="inputPurposeOfTravel">
                            </div>
                        </div>
                    </div>

                    @* <div class="col-md-6">
                    <div class="form-group row">
                    <label class="col-lg-5 col-form-label">Type of Travel</label>
                    <div class="col-lg-7">
                    <select class="form-control" id="selectTypeOfTravel">
                    <option>Domestic</option>
                    <option>International</option>

                    </select>
                    </div>
                    </div>
                    </div> *@
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-lg-5 col-form-label">Source</label>
                            <div class="col-lg-7">
                                <input type="text" class="form-control" id="inputSource">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-lg-5 col-form-label">Destination</label>
                            <div class="col-lg-7">
                                <input type="text" class="form-control" id="inputDestination">
                            </div>
                        </div>
                    </div>


                </div>
                <div class="row">

                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-lg-5 col-form-label">Tentative Date of Departure</label>
                            <div class="col-lg-7">
                                <input type="date" class="form-control" id="inputTentativeDateOfDeparture">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-lg-5 col-form-label">Number of Days</label>
                            <div class="col-lg-7">
                                <input type="number" class="form-control" min="1" max="50" id="inputNumberOfDays">
                            </div>
                        </div>
                    </div>

                </div>

                @*  <div class="row">
                <div class="col-md-6">
                <div class="form-group row">
                <label class="col-lg-5 col-form-label">Mode of Travel</label>
                <div class="col-sm-2">
                <div class="form-check">
                <label class="form-check-label">
                <input type="checkbox" class="form-check-input" id="inputModeOfTravelAir">
                Air
                </label>

                </div>
                </div>
                <div class="col-sm-2 rai">
                <div class="form-check">

                <label class="form-check-label">
                <input type="checkbox" class="form-check-input" id="inputModeOfTravelRail">
                Rail
                </label>

                </div>
                </div>
                <div class="col-sm-3 rai">
                <div class="form-check">

                <label class="form-check-label">
                <input type="checkbox" class="form-check-input" id="inputModeOfTravelRoad">
                Road
                </label>
                </div>
                </div>
                </div>
                </div>

                </div>*@

            </form>


        </div>

    </div>

</div>

<div id="divTentativeTourPlan" style="display:none" class="col-lg-12 stretch-card grid-margin">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Tentative Tour Plan</h4>

            <div class="table-responsive">
                <table class="table table-striped table-head">
                    <thead>
                        <tr>
                            <th>
                                Date
                            </th>
                            <th>
                                From
                            </th>
                            <th>
                                To
                            </th>
                            <th>
                                Mode
                            </th>
                            <th>
                                Class of City
                            </th>
                            <th>
                                Remark
                            </th>
                            <th>

                            </th>
                            <th>

                            </th>

                        </tr>
                    </thead>
                    <tbody id="tbodyTentativePlan">
                        <tr id="trTentativePlan_0">
                            <td>
                                <input id="inputStartDate_0" type="date" class="form-control">
                            </td>
                            <td>
                                <input id="inputFrom_0" type="text" class="form-control">
                            </td>
                            <td>
                                <input id="inputTo_0" type="text" class="form-control">
                            </td>
                            <td>
                                <select id="selectTravelMode_0" class="form-control mode">
                                    <option>Air</option>
                                    <option>Rail</option>
                                    <option>Road</option>

                                </select>
                            </td>
                            <td>
                                <select id="selectClassOfCity_0" class="form-control mode">
                                    <option value="X">X</option>
                                    <option value="Y">Y</option>
                                    <option value="Z">Z</option>

                                </select>
                            </td>
                            <td>
                                <input id="inputTourDetails_0" type="text" class="form-control">
                            </td>
                            <td>
                                <button onclick="btnplus_0_Click(this)" type="button" id="btnplus_0" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i></button>
                            </td>
                            <td>
                                <button disabled type="button" id="btnminus_0" class="btn btn-primary"><i class="fa fa-minus" aria-hidden="true"></i></button>
                            </td>

                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



<div id="divAdvanceRequired" style="display:none" class="col-12 grid-margin AdvanceRequired">
    <div class="card">

        <div class="card-body">

            <div class="col-lg-6 col-md-8 require">
                <div class="form-group row advance align-items-center">
                    <label class="col-lg-5 col-form-label">Advance Required</label>
                    <div class="col-lg-3 checks">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" onclick="radioAdvanceRequired_Click(this,'Yes')" name="radioAdvanceRequired" id="radioAdvanceRequiredYes" value="option2" checked>
                                Yes
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-4 checks">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" onclick="radioAdvanceRequired_Click(this,'No')" name="radioAdvanceRequired" id="radioAdvanceRequiredNo" value="option2" checked>
                                No
                            </label>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

<div id="divTourEstimate" style="display:none" class="col-lg-12 stretch-card grid-margin">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Tour Estimate</h4>

            <div class="table-responsive">
                <table class="table table-striped table-head">
                    <thead>
                        <tr>
                            <th>
                                S.No.
                            </th>
                            <th>
                                Type
                            </th>
                            <th>
                                Estimated Amount
                            </th>
                            @*  <th>
                            Class Of City
                            </th>*@
                            <th>

                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                1
                            </td>
                            <td>
                                Travel
                            </td>
                            <td>
                                <input id="inputTravelEstimate" onfocusout="calculateEstimate_FocusOut(this)" type="text" class="form-control estimate" placeholder="&#8377;">
                            </td>


                            <td>
                                <button id="btnTourEstimate" type="button" style="padding:0" onclick="TrigerModalUploadFile('Tour Estimate','TourEstimate')" class="btn"><i class="fa fa-upload" aria-hidden="true"></i> Upload File<span id="spanTourEstimate" class="file-status">0</span></button>
                                <button id="btnTourEstimateView" style="padding:0" onclick="TrigerModalViewFile('Tour Estimate','TourEstimate')" type="button" class="btn"><i class="fa fa-eye" aria-hidden="true"></i> View File<span id="spanTourEstimateView" class="file-status">0</span></button>
                            </td>

                        </tr>
                        <tr>
                            <td>
                                2
                            </td>
                            <td>
                                Accommodation
                                <span class="btn-span" data-toggle="modal" data-target="#accommodationRates" style="cursor: pointer;">(Check Rates <i class="fa-solid fa-info inf-icon" style="padding:3px 8px;background:#4b49ac;border-radius:50%;color:#fff;"></i> )</span>
                            </td>
                            <td>
                                <input id="inputAccommodationEstimate" onfocusout="calculateEstimate_FocusOut(this)" type="text" class="form-control estimate" placeholder="&#8377;">
                            </td>
                            @* <td>




                            <div class="dropdown" data-control="checkbox-dropdown">


                            <div class="dropdown-list">


                            <label class="dropdown-option">
                            <input id="checkX" type="checkbox" name="dropdown-group" value="Selection 1" />
                            <span class="cek">X</span>
                            </label>

                            <label class="dropdown-option">
                            <input id="checkY" type="checkbox" name="dropdown-group" value="Selection 2" />
                            <span class="cek">Y</span>
                            </label>

                            <label class="dropdown-option">
                            <input id="checkZ" type="checkbox" name="dropdown-group" value="Selection 3" />
                            <span class="cek">Z</span>
                            </label>



                            </div>
                            </div>
                            </td>*@

                            <td>
                                <button id="btnAccommodationEstimate" type="button" style="padding:0" onclick="TrigerModalUploadFile('Accommodation Estimate','AccommodationEstimate')" class="btn"><i class="fa fa-upload" aria-hidden="true"></i> Upload File<span id="spanAccommodationEstimate" class="file-status">0</span></button>
                                <button id="btnAccommodationEstimateView" style="padding:0" onclick="TrigerModalViewFile('Accommodation Estimate','AccommodationEstimate')" type="button" class="btn"><i class="fa fa-eye" aria-hidden="true"></i> View File<span id="spanAccommodationEstimateView" class="file-status">0</span></button>
                            </td>

                        </tr>

                        <tr>
                            <td>
                            </td>
                            <td>
                                <b>Total</b>
                            </td>
                            <td>
                                <b id="tdTotalEstimate">0</b>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <td>
                            </td>
                            <td>

                                <label class="col-lg-5 col-form-label">Advance Required</label>
                            </td>
                            <td>
                                <input onfocusout="inputAdvanceRequired_focusOut(this)" id="inputAdvanceRequired" type="text" class="form-control estimate" placeholder="&#8377;">
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                        </tr>

                    </tbody>
                </table>


            </div>

        </div>
    </div>

</div>

@* <div class="col-12 grid-margin mt-4">
    <div class="card">

        <div class="card-body">
            <div class="six">

            </div>

            <form class="form-sample advance">

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-lg-5 col-form-label">Advance Required</label>
                            <div class="col-lg-7">
                                <input type="text" class="form-control estimate" placeholder="&#8377;">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>

</div> *@

<div id="divSelectApprover" style="display:none" class="col-lg-12 stretch-card grid-margin">
    <div class="card align-items-center">
        <div class="card-body">

            <div class="flex-wrap mt-2 cta">
                <div class="mt-1 mb-1 d-flex align-items-center">
                    <div class="form-group form-list">
                        <label for="input-datalist" class="inputlistlable">Select Approver:</label>
                        <input type="text" class="inputlist" placeholder="Write Name of Approver" list="approvres" id="input-datalist">
                        <datalist id="approvres">
                            @*<option data-id="1234" value="Ram kumar panday">Ram kumar panday</option>
                            <option>Anil kumar singh </option>*@

                        </datalist>
                    </div>
                </div>


            </div>
        </div>
    </div>

</div>

<div id="divDeclaration" style="display:none" class="col-lg-12 stretch-card grid-margin">
    <div class="card ">
        <div class="card-body">
            <h4 class="card-title">Declaration</h4>
            <div class="">
                <div class="form-check">
                    <label class="form-check-label mb-3">
                        <input id="checkboxDeclaration" onclick="checkDeclaration_cick(this)" type="checkbox" class="form-check-input">
                        I the undersigned hereby declare that the information given in this form is correct and complete to the best of my knowledge and belief.
                        <i class="input-helper"></i>
                    </label>
                </div>
            </div>


            <div class="flex-wrap mt-2 cta">
                <div class="mt-1 mb-1 d-flex align-items-center">
                </div>
                <button disabled onclick="btnTourPlanSubmit_Click(this)" type="button" id="btnTourPlanSubmit" class="btn btn-primary btn-length ml-3 mt-1 mb-1">Submit</button>

            </div>
        </div>
    </div>

</div>



@* <div class="col-lg-12 grid-margin stretch-card summary">
    <div class="card">
        <div class="card-body">


            <div class="table-responsive">
                <table class="table table-striped">

                    <tbody>

                        <tr>

                            <td><b>Requested Amount</b></td>

                            <td id="tdPHB">
                                <input type="text" class="form-control estimate">
                            </td>
                        </tr>

                    </tbody>
                </table>
                <hr/>
                <div class="col-sm-12">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input id="checkboxDeclaration" onclick="checkboxDeclaration_cick(this)" type="checkbox" class="form-check-input">
                            I the undersigned hereby declare that the information given in this form is correct and complete to the best of my knowledge and belief.
                            <i class="input-helper"></i>
                        </label>
                    </div>
                </div>
                <div style="float:right">
                    <button type="submit" id="btnSubmit" class="btn btn-primary mb-2">Submit</button>
                </div>
            </div>
        </div>

    </div>
</div> *@

<!-- Upload Modal HTML -->
<div id="divUploadModel" class="bs-example">
    <div id="myModal" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myModalTitle">Modal Title</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div enctype="multipart/form-data" id="form-upload">
                        <div class="form-group mt-5">
                            <label for="">Choose Images</label>
                            <input type="file" class="form-control" name="images[]" id="upload-img" />
                            <br />
                            <label for=""><span id="spnComment"></span> Comment</label>
                            <textarea class="form-control" id="textareaComment" rows="4"></textarea>
                        </div>
                        <div class="img-thumbs img-thumbs-hidden" id="img-preview"></div>
                        @*<button type="button" class="btn btn-primary mb-2">Upload</button>*@
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>
                                            S.NO
                                        </th>
                                        <th>
                                            Category
                                        </th>
                                        <th>
                                            Remarks
                                        </th>
                                        <th>
                                            File
                                        </th>
                                        <th>
                                            Action
                                        </th>

                                    </tr>
                                </thead>
                                <tbody id="trBodyUploadDoc">
                                    <tr>
                                        <td class="py-1">
                                            1
                                        </td>
                                        <td>
                                            Diagnosis
                                        </td>
                                        <td>
                                            ...........
                                        </td>
                                        <td>
                                            <i class="fa fa-file-pdf-o filepdfFontAwesome" aria-hidden="true"></i>
                                        </td>

                                        <td>
                                            <i onclick="delete_file(1)" class="fa fa-trash trashFontAwesome" aria-hidden="true"></i>
                                        </td>

                                    </tr>


                                </tbody>
                            </table>
                        </div>


                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Done</button>
                    @*<button type="submit" class="btn btn-primary mb-2" id="btnUploadSubmit">Submit</button>*@

                </div>
            </div>
        </div>
    </div>
</div>
<!-- The View Modal Starts -->
<div class="modal fade" id="viewModal">
    <div class="modal-dialog">
        <div class="modal-content viewModal-content">
            <div class="modal-inner-border">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 id="modelTitle" class="modal-title viewModal-head">Admission Advice</h4>
                    <button type="button" class="close viewModal-close" data-dismiss="modal"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body view-table-body">
                    <div class="view-table-cnt">
                        <div class="responsive-table">
                            <table class="table view-table">
                                <thead>
                                    <tr bgcolor="">
                                        <th>Sr No.</th>
                                        <th>Category</th>
                                        <th>Files</th>
                                    </tr>
                                </thead>
                                <tbody id="tbodyViewDocuments">

                                    @*<tr>
                                    <td>2.</td>
                                    <td>Admission Advice</td>
                                    <td><a href="javascript:void(0)" class="file-link"><span class="ti-files"></span></a></td>
                                    </tr>
                                    <tr>
                                    <td>3.</td>
                                    <td>Admission Advice</td>
                                    <td><a href="javascript:void(0)" class="file-link"><span class="ti-files"></span></a></td>
                                    </tr>*@
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- The View Modal Ends -->

<style>
    @@media(min-width:1919px) and (max-width:2245px) {
        .widthpurpose {
            margin-left: 65px !important;
            width: 95%;
        }
    }

    @@media(max-width:767px) {
        .cta {
            justify-content: space-between
        }

        .btn-length {
            width: auto;
        }

        .inputlist {
            width: 100% !important;
        }

        .widthpurpose {
            width: 100% !important;
            margin-left: 0 !important;
        }
    }

    .widthpurpose {
        width: 95%;
        margin-left: 45px;
    }

    .btn-length {
        width: 160px;
        height: 45px;
        border-radius: 4px;
    }






    #approvres {
        background-color: white;
        border: 1px solid #ccc;
    }



    .cta {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }


    .inputlist {
        max-width: 400px;
        width: 400px;
        border: 1px solid #ced4da;
        height: 45px;
        border-radius: 4px;
        padding: 10px;
        font-size: 14px;
    }



    .inputlistlable {
        font-weight: 600;
        font-size: 16px !important;
        color: #343277;
        padding-top: 9px;
        margin-right: 20px;
    }

    .inputlist:focus {
        border: 1px solid #ced4da !important;
        height: 45px;
    }



    .table-head thead {
        background: #343277;
        color: white;
    }

    select.form-control.mode {
        width: 80px;
    }

    select.form-control.type {
        width: 260px;
    }

    input.form-control.estimate {
        width: 130px;
    }

    .form-group.row.advance {
        margin-bottom: -16px;
    }

    .col-lg-12.grid-margin.stretch-card.summary {
        margin-top: 40px;
    }

    .col-lg-12.stretch-card.grade {
        margin-top: 40px;
    }

    .col-lg-12.stretch-card.new {
        margin-bottom: 40px;
    }

    .form-group {
        margin-bottom: 0rem;
    }

    .col-form-label {
        font-weight: 600;
        font-size: 16px !important;
        color: #343277;
    }

    button#btnself {
        font-size: 0.3rem;
        line-height: 1;
        font-weight: 400;
        border-radius: 4px;
        height: 42px;
    }

    td {
        padding: 10px !important;
    }

    .form-control {
        height: 42px;
    }




    .col-lg-12.stretch-card.gradep {
        margin-bottom: 40px;
    }

    th.grade {
        text-align: center;
    }

    h4.trh {
        text-align: center;
        font-size: 24px;
        color: #fff;
    }

    .advancenew {
        margin-left: 16px;
        margin-top: -28px;
    }



    .card-body.trh {
        padding: 0px;
        padding-top: 12px;
        padding-bottom: 12px;
    }

    /* STYLE 6
                   ----------------------------- */
    .six h1 {
        text-align: center;
        color: #222;
        font-size: 24px !important;
        font-weight: 600 !important;
        text-transform: uppercase !important;
        word-spacing: 1px !important;
        letter-spacing: 2px !important;
        color: #4B49AC !important;
    }

        .six h1 span {
            line-height: 2em !important;
            padding-bottom: 15px !important;
            text-transform: none !important;
            font-size: .7em !important;
            font-weight: normal !important;
            font-style: italic !important;
            font-family: "Playfair Display","Bookman",serif !important;
            color: #999 !important;
            letter-spacing: -0.005em !important;
            word-spacing: 1px !important;
            letter-spacing: none !important;
        }

        .six h1:after, .six h1:before {
            position: absolute !important;
            left: 0 !important;
            bottom: 0 !important;
            width: 45px !important;
            height: 4px !important;
            content: "" !important;
            right: 45px !important;
            margin: auto !important;
            background-color: #d78b8b !important;
        }

        .six h1:before {
            background-color: #d78b8b !important;
            left: 45px !important;
            width: 90px !important;
        }

    h1 {
        position: relative;
        padding: 0;
        margin: 0;
        font-family: "Raleway", sans-serif;
        font-weight: 300;
        font-size: 40px;
        color: #080808;
        -webkit-transition: all 0.4s ease 0s;
        -o-transition: all 0.4s ease 0s;
        transition: all 0.4s ease 0s;
    }

        h1 span {
            display: block;
            font-size: 0.5em;
            line-height: 1.3;
        }

        h1 em {
            font-style: normal;
            font-weight: 600;
        }


    .grid-margin {
        margin-bottom: 1rem;
    }

    input[type="checkbox"] {
        content: "";
        width: 18px;
        height: 18px;
        border-radius: 2px;
        border: solid #4B49AC;
        border-width: 2px;
        -webkit-transition: all;
        -moz-transition: all;
        -ms-transition: all;
        -o-transition: all;
        transition: all;
        transition-duration: 0s;
        -webkit-transition-duration: 250ms;
        transition-duration: 250ms;
    }

    label.dropdown-option {
        padding-right: 10px;
    }

    .claims {
        background: #0564cf;
        border-color: #0564cf;
    }

    @@media(max-width:767px) {
        .content-wrapper {
            padding: 1.5rem 0.2rem;
        }



        input.form-control.estimate {
            width: inherit;
        }

        .advancenew {
            margin-bottom: 44px !important;
            width: 200px !important;
        }
    }




    .btn-span {
        cursor: pointer;
    }
</style>

<!-- Modal -->
<div class="modal fade" id="accommodationRates" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="padding: 10px 25px !important;">
                <h5 class="modal-title" id="exampleModalLabel">Accommodation Rates</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="padding: 7px !important;">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-head">
                        <thead>
                            <tr>
                                <th class="grade">
                                    Level
                                </th>

                                <th class="grade">
                                    X
                                </th>
                                <th class="grade">
                                    Y
                                </th>
                                <th class="grade">
                                    Z
                                </th>
                            </tr>
                        </thead>
                        <tbody id="tbodyGrade">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@* ////////////////////// *@

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="~/customjstour/Tour/TourRequest.js" asp-append-version="true"></script>


<script>
    /*  document.addEventListener('DOMContentLoaded', e => {
            $('#input-datalist').autocomplete()
        }, false);*/


</script>
