
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title mb-4">Approved Advance List</h4>

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                S.No
                            </th>

                            <th>
                                Patient Name
                            </th>
                            <th>
                                Advance Amount
                            </th>
                            <th>
                                Request Date
                            </th>
                            <th>
                                Approved Amount
                            </th>
                            <th>
                                Approved Date
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>

                            <td>
                                Anil Singh
                            </td>
                            <td>
                                50000.00
                            </td>
                            <td>
                                Sep 25, 2023
                            </td>
                            <td>
                                45000.00
                            </td>
                            <td>
                                Sep 26, 2023
                            </td>
                            <td>
                                <a class="btn btn-primary">Settle</a>
                            </td>
                        </tr>
                        <tr>

                            <td>2</td>
                            <td>
                                Messsy Adam
                            </td>
                            <td>
                                50000.00
                            </td>
                            <td>
                                Sep 25, 2023
                            </td>
                            <td>
                                45000.00
                            </td>
                            <td>
                                Sep 26, 2023
                            </td>
                            <td>
                                <a class="btn btn-primary">Settle</a>
                            </td>
                        </tr>
                        <tr>

                            <td>3</td>
                            <td>
                                John Richards
                            </td>
                            <td>
                                50000.00
                            </td>
                            <td>
                                Sep 15, 2023
                            </td>
                            <td>
                                50000.00
                            </td>
                            <td>
                                Sep 26, 2023
                            </td>
                            <td>
                                <a class="btn btn-primary">Settle</a>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title mb-4">Patient and Advance Details</h4>

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                Patient Name
                            </th>

                            <th>
                                Relation
                            </th>
                            <th>
                                Date of Birth
                            </th>
                            <th>
                                Gender
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>

                            <td>
                                Anil Singh
                            </td>
                            <td>
                                Self
                            </td>
                            <td>
                                Jan 01, 1980
                            </td>
                            <td>
                                Male
                            </td>

                        </tr>


                        <tr>
                            <th>
                                Document
                            </th>

                            <th>
                                Details
                            </th>
                            <th>
                                Document
                            </th>
                            <th>
                                Details
                            </th>

                        </tr>
                        <tr>
                            <td>
                                Hospital Name
                            </td>
                            <td>
                                Max Delhi
                            </td>
                            <td>
                                Digonosis
                            </td>
                            <td>
                                <i class="fa fa-file-pdf-o" style="color:#F40F02; font-size:large" aria-hidden="true"></i>

                            </td>



                        </tr>
                        <tr>
                            <td>
                                Admission Advise
                            </td>
                            <td>
                                <i class="fa fa-file-pdf-o" style="color:#F40F02; font-size:large" aria-hidden="true"></i>
                            </td>
                            <td>
                                Estimate
                            </td>
                            <td>
                                <i class="fa fa-file-pdf-o" style="color:#F40F02; font-size:large" aria-hidden="true"></i> (25000.00)

                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                Total Advance:
                            </td>
                            <td colspan="2">
                                25000.00/Rs.
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title mb-4">Claim Form</h4>

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                S.No
                            </th>

                            <th>
                                Document
                            </th>
                            <th>
                                Details
                            </th>

                            <th>
                                Upload
                            </th>
                            <th>
                                Action
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>

                            <td>
                                Date of Discharge
                            </td>
                            <td>
                                <input type="date" />
                            </td>
                            <td>
                                --NA--
                            </td>
                            <td>
                                <i class="fa fa-edit editFontAwesome"></i>
                                <i class="fa fa-eye eyeFontAwesome" aria-hidden="true"></i>

                            </td>

                        </tr>
                        <tr>
                            <td>2</td>

                            <td>
                                Discharge summary
                            </td>
                            <td>
                                <input type="text" />
                            </td>
                            <td>
                                <a href="#">Upload</a>
                            </td>
                            <td>
                                <i class="fa fa-edit editFontAwesome"></i>
                                <i class="fa fa-eye eyeFontAwesome" aria-hidden="true"></i>


                            </td>

                        </tr>
                        <tr>
                            <td>3</td>

                            <td>
                                Consultation
                            </td>
                            <td>
                                <input type="text" />
                            </td>
                            <td>
                                <a href="#">Upload</a>
                            </td>
                            <td>
                                <i class="fa fa-edit editFontAwesome"></i>
                                <i class="fa fa-eye eyeFontAwesome" aria-hidden="true"></i>

                            </td>

                        </tr>
                        <tr>
                            <td>4</td>

                            <td>
                                Final Hospital Bill
                            </td>
                            <td>
                                <input type="text" />
                            </td>
                            <td>
                                <a href="#">Upload</a>
                            </td>
                            <td>
                                <i class="fa fa-edit editFontAwesome"></i>
                                <i class="fa fa-eye eyeFontAwesome" aria-hidden="true"></i>

                            </td>

                        </tr>
                        <tr>
                            <td>5</td>

                            <td>
                                Medicine Bill
                            </td>
                            <td>
                                <input type="text" placeholder="Enter Amount" />
                            </td>
                            <td>
                                <a href="#">Upload</a>
                            </td>
                            <td>
                                <i class="fa fa-edit editFontAwesome"></i>
                                <i class="fa fa-eye eyeFontAwesome" aria-hidden="true"></i>


                            </td>

                        </tr>
                        <tr>
                            <td>6</td>

                            <td>
                                Room Rent
                            </td>
                            <td>
                                <input type="text" placeholder="Enter Amount" />
                            </td>
                            <td>
                                <a href="#">Upload</a>
                            </td>
                            <td>
                                <i class="fa fa-edit editFontAwesome"></i>
                                <i class="fa fa-eye eyeFontAwesome" aria-hidden="true"></i>

                            </td>

                        </tr>
                        <tr>
                            <td>7</td>

                            <td>
                                Other
                            </td>
                            <td>
                                <input type="text" />
                            </td>
                            <td>
                                <a href="#">Upload</a>
                            </td>
                            <td>
                                <i class="fa fa-edit editFontAwesome"></i>
                                <i class="fa fa-eye eyeFontAwesome" aria-hidden="true"></i>
                            </td>

                        </tr>
                       
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title mb-4">Summary</h4>

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            

                            <th>
                                Type
                            </th>
                            <th>
                                Amount
                            </th>

                            <th>
                                Type
                            </th>
                            <th>
                                Amount
                            </th>

                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            
                            <td>Total Bill</td>

                            <td>
                                55000/Rs.
                            </td>
                            <td>
                                Total Advance
                            </td>
                            <td>
                                25000/Rs
                            </td>
                            

                        </tr>
                        <tr>
                            <td>Remaining Amount</td>

                            <td>
                                30000/Rs.
                            </td>
                            <td>
                                Claim Amount
                            </td>
                            <td>
                                <input type="text" value="30000" />
                            </td>
                          
                        </tr>
                          <tr>
                            <td>----</td>

                            <td>
                                ----
                            </td>
                            <td>
                                ----
                            </td>
                            <td>
                                <a class="btn btn-primary">Submit Claim</a>
                            </td>
                            

                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>