
<div class="col-12 grid-margin">
    <div class="card">
        <div class="card-body">
            <h4 class="text-primary mb-5">
                Direct Claim Request
            </h4>
            <form class="form-sample">

                <div class="row">


                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Select Member</label>
                            <div class="col-sm-8">
                                <select class="form-control">
                                    <option>Anil(Selef)</option>
                                    <option>Sweta(Spouse)</option>
                                    <option>
                                        Ishan(Son)
                                    </option>
                                    <option>Ishita(Daughter)</option>
                                    <option>Ravindra(Father)</option>
                                    <option>Saroj(Mother)</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Hospital Name</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Hospital Reg No</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Doctor Name</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <hr />

                <h4 class="text-primary mb-5">
                    Additional Details
                </h4>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>
                                    Type
                                </th>
                                <th>
                                    Comments
                                </th>
                                <th>
                                    Documents
                                </th>
                                <th>
                                    File
                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="py-1">
                                    Admission Advice
                                </td>
                                <td>
                                    <input type="text" class="form-control col-sm-4" style="padding:12px; height:30px" placeholder="Enter Comment" />
                                </td>
                                <td>
                                    <a href="#" class="btn-modal-triger" onclick="TrigerModalUploadFile('Admission Advice')">
                                        <i class="fa fa-upload" aria-hidden="true"></i>
                                    </a>
                                </td>
                                <td>
                                    <a href="">
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                    </a>
                                </td>

                            </tr>
                            <tr>
                                <td class="py-1">
                                    Diagnosis
                                </td>
                                <td>
                                    Herman Beck
                                </td>
                                <td>
                                    <a href="#" class="btn-modal-triger" onclick="TrigerModalUploadFile('Diagnosis')">
                                        <i class="fa fa-upload" aria-hidden="true"></i>
                                    </a>
                                </td>
                                <td>
                                    <a href="#">
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                    </a>
                                </td>

                            </tr>
                            <tr>
                                <td class="py-1">
                                    Admission Advice
                                </td>
                                <td>
                                    <input type="text" class="form-control col-sm-4" style="padding:12px; height:30px" placeholder="Enter Comment" />
                                </td>
                                <td>
                                    <a href="#" class="btn-modal-triger" onclick="TrigerModalUploadFile('Admission Advice')">
                                        <i class="fa fa-upload" aria-hidden="true"></i>
                                    </a>
                                </td>
                                <td>
                                    <a href="">
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                    </a>
                                </td>

                            </tr>
                            <tr>
                                <td class="py-1">
                                    Estimate Amount
                                </td>
                                <td>
                                    <input type="text" class="form-control col-sm-4" style="padding:12px; height:30px" value="0.00" />
                                </td>
                                <td>
                                    <a href="#" class="btn-modal-triger" onclick="TrigerModalUploadFile('Estimate Amount')">
                                        <i class="fa fa-upload" aria-hidden="true"></i>
                                    </a>
                                </td>
                                <td>
                                    <a href="#">
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                    </a>
                                </td>

                            </tr>
                            <tr>
                                <td class="py-1">
                                    Advance Required
                                </td>
                                <td>
                                    <input type="text" class="form-control col-sm-4" style="padding:12px; height:30px" value="0.00" />
                                </td>
                                <td>
                                    <a href="#" class="btn-modal-triger" onclick="TrigerModalUploadFile('Advance Required')">
                                        <i class="fa fa-upload" aria-hidden="true"></i>
                                    </a>
                                </td>
                                <td>
                                    <a href="#">
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                    </a>
                                </td>

                            </tr>

                        </tbody>
                    </table>
                </div>
                <hr />
                <div style="float:right">
                    <button type="submit" class="btn btn-primary mb-2">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title mb-4">Patient and Advance Details</h4>

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                Patient Name
                            </th>

                            <th>
                                Relation
                            </th>
                            <th>
                                Date of Birth
                            </th>
                            <th>
                                Gender
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>

                            <td>
                                Anil Singh
                            </td>
                            <td>
                                Self
                            </td>
                            <td>
                                Jan 01, 1980
                            </td>
                            <td>
                                Male
                            </td>

                        </tr>


                        <tr>
                            <th>
                                Document
                            </th>

                            <th>
                                Details
                            </th>
                            <th>
                                Document
                            </th>
                            <th>
                                Details
                            </th>

                        </tr>
                        <tr>
                            <td>
                                Hospital Name
                            </td>
                            <td>
                                Max Delhi
                            </td>
                            <td>
                                Digonosis
                            </td>
                            <td>
                                <i class="fa fa-file-pdf-o" style="color:#F40F02; font-size:large" aria-hidden="true"></i>

                            </td>



                        </tr>
                        <tr>
                            <td>
                                Admission Advise
                            </td>
                            <td>
                                <i class="fa fa-file-pdf-o" style="color:#F40F02; font-size:large" aria-hidden="true"></i>
                            </td>
                            <td>
                                Estimate
                            </td>
                            <td>
                                <i class="fa fa-file-pdf-o" style="color:#F40F02; font-size:large" aria-hidden="true"></i> (25000.00)

                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                Total Advance:
                            </td>
                            <td colspan="2">
                                25000.00/Rs.
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title mb-4">Claim Form</h4>

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                S.No
                            </th>

                            <th>
                                Document
                            </th>
                            <th>
                                Details
                            </th>

                            <th>
                                Upload
                            </th>
                            <th>
                                Action
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>

                            <td>
                                Date of Discharge
                            </td>
                            <td>
                                <input type="date" />
                            </td>
                            <td>
                                --NA--
                            </td>
                            <td>
                                <i class="fa fa-edit editFontAwesome"></i>
                                <i class="fa fa-eye eyeFontAwesome" aria-hidden="true"></i>

                            </td>

                        </tr>
                        <tr>
                            <td>2</td>

                            <td>
                                Discharge summary
                            </td>
                            <td>
                                <input type="text" />
                            </td>
                            <td>
                                <a href="#">Upload</a>
                            </td>
                            <td>
                                <i class="fa fa-edit editFontAwesome"></i>
                                <i class="fa fa-eye eyeFontAwesome" aria-hidden="true"></i>


                            </td>

                        </tr>
                        <tr>
                            <td>3</td>

                            <td>
                                Consultation
                            </td>
                            <td>
                                <input type="text" />
                            </td>
                            <td>
                                <a href="#">Upload</a>
                            </td>
                            <td>
                                <i class="fa fa-edit editFontAwesome"></i>
                                <i class="fa fa-eye eyeFontAwesome" aria-hidden="true"></i>

                            </td>

                        </tr>
                        <tr>
                            <td>4</td>

                            <td>
                                Final Hospital Bill
                            </td>
                            <td>
                                <input type="text" />
                            </td>
                            <td>
                                <a href="#">Upload</a>
                            </td>
                            <td>
                                <i class="fa fa-edit editFontAwesome"></i>
                                <i class="fa fa-eye eyeFontAwesome" aria-hidden="true"></i>

                            </td>

                        </tr>
                        <tr>
                            <td>5</td>

                            <td>
                                Medicine Bill
                            </td>
                            <td>
                                <input type="text" placeholder="Enter Amount" />
                            </td>
                            <td>
                                <a href="#">Upload</a>
                            </td>
                            <td>
                                <i class="fa fa-edit editFontAwesome"></i>
                                <i class="fa fa-eye eyeFontAwesome" aria-hidden="true"></i>


                            </td>

                        </tr>
                        <tr>
                            <td>6</td>

                            <td>
                                Room Rent
                            </td>
                            <td>
                                <input type="text" placeholder="Enter Amount" />
                            </td>
                            <td>
                                <a href="#">Upload</a>
                            </td>
                            <td>
                                <i class="fa fa-edit editFontAwesome"></i>
                                <i class="fa fa-eye eyeFontAwesome" aria-hidden="true"></i>

                            </td>

                        </tr>
                        <tr>
                            <td>7</td>

                            <td>
                                Other
                            </td>
                            <td>
                                <input type="text" />
                            </td>
                            <td>
                                <a href="#">Upload</a>
                            </td>
                            <td>
                                <i class="fa fa-edit editFontAwesome"></i>
                                <i class="fa fa-eye eyeFontAwesome" aria-hidden="true"></i>
                            </td>

                        </tr>

                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title mb-4">Summary</h4>

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>


                            <th>
                                Type
                            </th>
                            <th>
                                Amount
                            </th>

                            <th>
                                Type
                            </th>
                            <th>
                                Amount
                            </th>

                        </tr>
                    </thead>
                    <tbody>

                        <tr>

                            <td>Total Bill</td>

                            <td>
                                55000/Rs.
                            </td>
                            <td>
                                Total Advance
                            </td>
                            <td>
                                25000/Rs
                            </td>


                        </tr>
                        <tr>
                            <td>Remaining Amount</td>

                            <td>
                                30000/Rs.
                            </td>
                            <td>
                                Claim Amount
                            </td>
                            <td>
                                <input type="text" value="30000" />
                            </td>

                        </tr>
                        <tr>
                            <td>----</td>

                            <td>
                                ----
                            </td>
                            <td>
                                ----
                            </td>
                            <td>
                                <a class="btn btn-primary">Submit Claim</a>
                            </td>


                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

<script>
    $(document).ready(function () {

    });
    function TrigerModalUploadFile(type) {

        $("#myModal").modal('show');
        $('#myModalTitle').html(type);
        $('#spnComment').html(type);
        return false;

    }

</script>

<div class="bs-example">


    <!-- Modal HTML -->
    <div id="myModal" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myModalTitle">Modal Title</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form action="" method="post" enctype="multipart/form-data" id="form-upload">
                        <div class="form-group mt-5">
                            <label for="">Choose Images</label>
                            <input type="file" class="form-control" name="images[]" multiple id="upload-img" />
                            <br />
                            <label for=""><span id="spnComment"></span> Comment</label>
                            <textarea class="form-control" id="exampleTextarea1" rows="4"></textarea>
                        </div>
                        <div class="img-thumbs img-thumbs-hidden" id="img-preview"></div>
                        <button type="button" class="btn btn-primary mb-2">Upload</button>

                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>
                                            S.NO
                                        </th>
                                        <th>
                                            Category
                                        </th>
                                        <th>
                                            Remarks
                                        </th>
                                        <th>
                                            File
                                        </th>
                                        <th>
                                            Action
                                        </th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="py-1">
                                            1
                                        </td>
                                        <td>
                                            Diagnosis
                                        </td>
                                        <td>
                                            ...........
                                        </td>
                                        <td>
                                            <i class="fa fa-file-pdf-o filepdfFontAwesome" aria-hidden="true"></i>
                                        </td>

                                        <td>
                                            <i class="fa fa-trash trashFontAwesome" aria-hidden="true"></i>
                                        </td>

                                    </tr>


                                </tbody>
                            </table>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    @* <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button> *@
                    <button type="submit" class="btn btn-primary mb-2" id="btnUploadSubmit">Submit</button>

                </div>
            </div>
        </div>
    </div>
</div>