
<link href="~/css/custom/dfccil1011_01.css" rel="stylesheet" />
<div class="page-loader">
    <div class="loader">
        <div>
            <img src="https://dfccil.com/images/logo.png">
        </div>
        <div class="loader-container">
            <div class="dot-loader"></div>
            <div class="dot-loader"></div>
            <div class="dot-loader"></div>
        </div>
    </div>
</div>


<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title mb-4">UnSettled Advance List</h4>

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="ap-list">
                                S.No
                            </th>
                            <th class="ap-list">
                                Employee Name
                            </th>

                            <th class="ap-list">
                                Patient Name
                            </th>
                            <th class="ap-list">
                                Relation
                            </th>
                            <th class="ap-list">
                                Advance Amount
                            </th>
                            <th class="ap-list">
                                Request Date
                            </th>
                            <th class="ap-list">
                                Approved Amount
                            </th>
                            <th class="ap-list">
                                Approved Date
                            </th>
                            <th class="ap-list">
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody id="tbodyAdvanceApprovedList">
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

<div class="col-12 grid-margin">
    <div class="card">
        <div class="card-body">
            <div class="form-check">
                <label class="form-check-label">
                    New Advanvce Request<input id="chkNewAdvanceRequest" onclick="chkNewAdvanceRequest_click(this)" type="checkbox" class="form-check-input">
                </label>
            </div>
            <hr />



        </div>

    </div>

</div>
<form id="advanceForm">
    <div id="divNewAdvanceRequest" style="display:none" class="col-12 grid-margin">
        <div class="card">

            <div class="card-body">
                <div class="six">
                    <h1>
                        New Advance Request Form
                        <span></span>
                    </h1>
                </div>
                <hr class="borders" />
                <div class="d-flex justify-content-between align-items-center flex-wrap">
                    <h4 class="card-title mb-4 other">Patient and Other Details</h4>
                    <div id="divParentClaimLimt" style="display:none">

                        <div class="">
                            <table class="table parent mb-4">
                                <thead>
                                    <tr class="d-flex flex-wrap">
                                        <th class="tab">Total Limit: <span id="spanTotalLimit" class="table_span">₹10,00,000.00</span></th>
                                        <th class="tab">Used Limit: <span id="spanUsedLimit" class="table_span">₹2,50,000.00</span></th>
                                        <th class="tab">Balance Limit: <span id="spanBalanceLimit" class="table_span">₹7,50,000.00</span></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>

                    </div>
                    <div class="">
                        <table class="table parent d-flex justify-content-end mb-4">
                            <thead>
                                <tr class="d-flex flex-wrap">

                                    <th class="tab">Room Category: <span id="spanRoomCategory" class="table_span">Single AC Room</span></th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <div class="form-sample advance">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label">Select Member</label>
                                <div class="col-sm-7 advance">
                                    <select onchange="selectMember_OnChange(this)" id="selectMember" class="form-control">
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div id="divHospitalName" class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label">Hospital Name</label>
                                <div class="col-sm-7 advance">
                                    <input required id="inputHospitalName" name="inputHospitalName" type="text" class="form-control" placeholder="Apollo">
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label">Hospital Empanelled</label>

                                <div class="col-sm-3">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input id="radioEmpanelledHospitalsYes" onclick="radioEmpanelledHospitals_Click(this,'Yes')" name="EmpanelledHospitals" type="radio" class="form-check-input">
                                            Yes
                                        </label>
                                    </div>

                                </div>
                                <div class="col-sm-3">

                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input id="radioEmpanelledHospitalsNo" checked onclick="radioEmpanelledHospitals_Click(this,'No')" name="EmpanelledHospitals" type="radio" class="form-check-input">
                                            No
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="divEmpanelledHospitals" style="display:none" class="col-md-6">
                            <div class="form-group row impanelled">
                                <label class="col-sm-5 col-form-label">Select Hospital</label>
                                <div class="col-sm-7">
                                    <select id="selectHospital" class="form-control">
                                        <option>AIIMS</option>
                                        <option>LNJP</option>

                                    </select>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row even">
                        <div class="col-md-6" id="divHospitalRegdNo">
                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label">Hospital Regd. No.</label>
                                <div class="col-sm-7 advance">
                                    <input id="inputHospitalRegdNo" type="text" class="form-control" placeholder="L85110TN1979PLC006944">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label">Doctor's Name</label>
                                <div class="col-sm-7 advance">
                                    <input id="inputDoctorName" name="inputDoctorName" type="text" class="form-control" placeholder="Dr. Mathur">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label">Likely Date of Admission</label>
                                <div class="col-sm-7 advance">
                                    <input id="inputDateOfAdmission" type="date" class="form-control" name="inputDateOfAdmission" min="2015-10-28">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label">Treatment Type</label>
                                <div class="col-sm-7">
                                    <select id="selectTreatmentType" class="form-control">
                                        <option value="Allopathic">Allopathic</option>
                                        <option value="Ayurveda">Ayurveda</option>
                                        <option value="Homeopathy">Homeopathy</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row even">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label">Diagnosis</label>
                                <div class="col-sm-7 advance">
                                    <input id="inputDiagnosis" name="inputDiagnosis" type="text" class="form-control" placeholder="Diagnosis">
                                </div>
                            </div>
                            @* <div class="col-md-6">
                            <div class="form-group row">
                            <label class="col-sm-5 col-form-label">Diagnosis</label>
                            <div class="col-sm-7 advance">
                            <button type="button" onclick="TrigerModalUploadFile('Diagnosis','Diagnosis')" class="btn"><i class="fa fa-upload" aria-hidden="true"></i> Upload File<span id="spanDiagnosis" class="file-status">0</span></button>
                            </div>
                            </div>*@
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label">Admission Advice</label>
                                <div class="col-sm-7 advance">
                                    <button type="button" onclick="TrigerModalUploadFile('Admission Advice','AdmissionAdvice')" class="btn"><i class="fa fa-upload" aria-hidden="true"></i> Upload File<span id="spanAdmissionAdvice" class="file-status">0</span></button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label">Estimate Amount</label>
                                <div class="col-sm-3 estimatemobile">
                                    <input required onfocusout="EstimateAmount_focusOut(this)" id="inputEstimateAmount" name="inputEstimateAmount" type="tel" class="form-control" placeholder="&#8377; 00.00">
                                </div>
                                <div class="col-sm-4 estimatemobileupload">
                                    <button type="button" onclick="TrigerModalUploadFile('Estimate Amount','EstimateAmount')" class="btn mobile d"><i class="fa fa-upload up" aria-hidden="true"></i> <span class="upl">Upload Estimate</span><span id="spanEstimateAmount" class="file-status">0</span></button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label">Advance Required*</label>
                                <div class="col-sm-7 advance">
                                    <input readonly onfocusout="requiredAmount_focusOut(this)" id="inputAdvanceRequired" name="inputAdvanceRequired" type="tel" class="form-control" placeholder="&#8377; 00.00">
                                </div>
                            </div>
                        </div>

                    </div>


                    <div class="row">

                        <div id="itrParent" style="display:none" class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label">ITR/Income Proof</label>
                                <div class="col-sm-7 advance">

                                    <a id="anchorItr" href="#" target="_blank" class="btn"><i class="fa fa-eye" aria-hidden="true"></i> View File <span id="spanItrView" class="file-status">1</span></a>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 ">
                            <div class="form-group row">
                                <label class="col-sm-12 col-form-label err">* For parent, the maximum advance limit is 80% of the Hospital's Estimate Amount.</label>

                            </div>
                        </div>


                    </div>


                    <div class="row payto">
                        <div class="col-md-4">
                            <label class="form-check-label Pay">
                                Pay To
                            </label>
                        </div>
                        <div class="col-md-4 self">
                            <label class="form-check-label">
                                <input type="radio" onchange="rbt_self_onchange(this)" class="form-check-input" checked name="radioPayto" id="radioPaytoSelf" value="self">
                                Anil(Self)
                            </label>
                        </div>
                        <div class="col-md-4 self">
                            <label class="form-check-label">
                                <input type="radio" onchange="rbt_self_onchange(this)" class="form-check-input" name="radioPayto" id="radioPaytoHospital" value="hospital">
                                Hospital
                            </label>
                        </div>

                    </div>


                </div>


            </div>

        </div>

    </div>
    <div id="divTopUp" style="display:none">
        <div id="divPatientDetails" class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-4">Patient and Advance Details</h4>

                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        Patient Name
                                    </th>

                                    <th>
                                        Relation
                                    </th>
                                    <th>
                                        Date of Birth
                                    </th>
                                    <th>
                                        Gender
                                    </th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>

                                    <td id="tdPatientName">
                                        Anil Singh
                                    </td>
                                    <td id="tdPatientRelation">
                                        Self
                                    </td>
                                    <td id="tdDateOfBirth">
                                        Jan 01, 1980
                                    </td>
                                    <td id="tdGender">
                                        Male
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>

        <div id="divAdvanceTakenDetails" class="col-12 grid-margin span_form-output">
            <div class="card">
                <div class="card-body">

                    <div class="form-sample">
                        <div class="row">
                            <div id="divParentClaimLimitView">

                                <div class="table-responsive">
                                    <table class="table parent">
                                        <thead>
                                            <tr class="d-flex flex-wrap">
                                                <th class="tab">Total Limit: <span id="spanTotalLimitView" class="table_span">₹10,00,000.00</span></th>
                                                <th class="tab">Used Limit: <span id="spanUsedLimitView" class="table_span">₹2,50,000.00</span></th>
                                                <th class="tab">Balance Limit: <span id="spanBalanceLimitView" class="table_span">₹7,50,000.00</span></th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                                <hr />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row d-flex align-items-center mobile-width">
                                    <label class="col-sm-4 col-form-label mb-0">Hospital Name:</label>
                                    <div class="col-sm-8">
                                        <span id="spanHospitalName" class="mb-0 text-start">Applo</span>
                                        @* <input id="inputHospitalName" type="text" class="form-control" value="Applo" readonly>*@
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row align-items-center mobile-width">
                                    <label class="col-sm-4 col-form-label mb-0">Hospital Regd. No.:</label>
                                    <div class="col-sm-8">
                                        <span id="spanHospitalRegNo" class="mb-0 text-start">25375</span>
                                        @*<input id="inputHospitalRegNo" type="text" class="form-control" value="25375" readonly>*@
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row pt-0 pb-0">
                            <div class="col-md-6">
                                <div class="form-group row align-items-center mobile-width">
                                    <label class="col-sm-4 col-form-label mb-0">Likely Date of Admission:</label>
                                    <div class="col-sm-8">
                                        <span id="spanActualDateOfAdmission" class="mb-0 text-start">25/2/2023</span>
                                        @*<input id="inputActualDateOfAdmission" type="text" class="form-control" value="25/2/2023" readonly>*@
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row align-items-center mobile-width">
                                    <label class="col-sm-4 col-form-label mb-0">Doctor's Name:</label>
                                    <div class="col-sm-8">
                                        <span id="spanDoctorName" class="mb-0 text-start">Dr. Mathur</span>
                                        @*<input id="inputDoctorName" type="text" class="form-control" value="Dr. Mathur" readonly>*@
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row pt-0 pb-0">
                            <div class="col-md-6">
                                <div class="form-group row align-items-center mobile-width">
                                    <label class="col-sm-4 col-form-label mb-0">Type of Treatment:</label>
                                    <div class="col-sm-8">
                                        <span id="spanTreatmentType" class="mb-0 text-start">Allopathic</span>
                                        @*<input id="inputTreatmentType" type="text" class="form-control" value="Allopathic" readonly>*@
                                        @*<select  class="form-control" id="selectTreatmentType" disabled>
                                        <option>Allopathic</option>
                                        <option>Ayurvedic</option>
                                        <option>Homeopathic</option>
                                        </select>*@
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6"></div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row align-items-center mobile-width">
                                    <label class="col-sm-4 col-form-label mb-0">Diagnosis:</label>
                                    <div class="col-sm-8">
                                        <span id="spanDiagnosis" class="mb-0 text-start">Allopathic</span>
                                        @*<input id="inputDiagnosis" type="text" class="form-control" readonly>*@
                                        @* <button type="button" onclick="TrigerModalViewFile('Diagnosis','Diagnosis')" class="btn"><i class="fa fa-eye" aria-hidden="true"></i> View File<span id="spanDiagnosis" class="file-status">0</span></button> *@
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row align-items-center mobile-width">
                                    <label class="col-sm-4 col-form-label mb-0">Admission Advice:</label>
                                    <div class="col-sm-8 advance">
                                        <button type="button" style="border:unset;width:auto;padding:0" onclick="TrigerModalViewFile('Admission Advice','AdmissionAdviceUpload')" class="btn"><i class="fa fa-eye" aria-hidden="true"></i> View File<span id="spanAdmissionAdviceUploadView" class="file-status">0</span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                        </div>
                        <div class="row">

                            <div class="col-md-6">
                                <div class="form-group row align-items-center mobile-width">
                                    <label class="col-sm-4 col-form-label estimatemobile mb-0 ">Estimated Amount:</label>
                                    <div class="col-sm-4 estimatemobile  es">
                                        <span id="spanEstimatedAmount" class="mb-0 text-start">&#8377; 10,000</span>
                                        @*<input id="inputEstimatedAmount" type="text" class="form-control" value=" &#8377; 10,000" readonly>*@
                                    </div>
                                    <div class="col-sm-4 mobile-view-width estimatemobileupload es">
                                        <button style="border:unset; padding:0;width:auto;" onclick="TrigerModalViewFile('Estimate Amount','EstimateAmount')" type="button" class="btn btn-padd"><i class="fa fa-eye" aria-hidden="true"></i> View File<span id="spanEstimateAmountView" class="file-status">0</span></button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row align-items-center mobile-width">
                                    <label class="col-sm-4 col-form-label mb-0">Approved Amount:</label>
                                    <div class="col-sm-8">
                                        <span id="spanApprovedAmount" class="mb-0 text-start">&#8377; 10,000</span>
                                        @*<input id="inputApprovedAmount" type="text" class="form-control" value=" &#8377; 7,000" readonly>*@
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row align-items-center mobile-width">
                                    <label class="col-sm-4 col-form-label mb-0">Pay To:</label>
                                    <div class="co-l-sm-8">
                                        <span id="spanPayTo" class="mb-0 text-start" style="margin-left:12px;">Self</span>
                                        @*<input id="inputPayTo" type="text" class="form-control" value="Self" readonly>*@
                                        @*<select class="form-control" id="" disabled>
                                        <option>Self</option>
                                        <option>Hospital</option>
                                        </select>*@
                                    </div>
                                </div>
                            </div>
                            <div id="itrParentView" class="col-md-6 mobile-width">
                                <div class="form-group row align-items-center">
                                    <label class="col-sm-4 col-form-label mb-0">ITR/Income Proof:</label>
                                    <div class="col-sm-8 advance">

                                        <a id="anchorItrView" href="#" target="_blank" class="btn" style="padding:0"><i class="fa fa-eye" aria-hidden="true"></i> View File <span id="spanItrView" class="file-status">1</span></a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

            </div>

        </div>
        <div div="divbankdetails" style="display:non" class="col-12 grid-margin form-span-output">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-4">Beneficiary Details (Hospital)</h4>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row align-items-center mobile-width">
                                <label class="col-lg-4 col-form-label mb-0">Beneficiary Name:</label>
                                <div class="col-lg-8">
                                    <span id="spanBeneficiaryName" class="mb-0"></span>
                                    @*<input type="text" class="form-control" value="Kamal" id="inputApprovedAdvanceBeneficiaryName" readonly>*@
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row align-items-center mobile-width">
                                <label class="col-lg-4 col-form-label mb-0">GST No.:</label>
                                <div class="col-lg-8">
                                    <span id="spanGstNo" class="mb-0"></span>
                                    @*<input type="text" class="form-control" value="26773878778" id="inputApprovedAdvanceGstNo" readonly>*@
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row align-items-center mobile-width">
                                <label class="col-lg-4 col-form-label mb-0">Bank Name:</label>
                                <div class="col-lg-8">
                                    <span id="spanBankName" class="mb-0"></span>
                                    @*<input type="text" class="form-control" value="SBI" id="inputApprovedAdvanceBankName" readonly>*@
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row align-items-center mobile-width">
                                <label class="col-lg-4 col-form-label mb-0">IFSC Code:</label>
                                <div class="col-lg-8">
                                    <span id="spanIFSCCode" class="mb-0"></span>
                                    @*<input type="text" class="form-control" value="CNF007867" id="inputApprovedAdvanceIfscCode" readonly>*@
                                </div>
                            </div>
                        </div>


                        <div class="col-md-6">
                            <div class="form-group row align-items-center mobile-width">
                                <label class="col-lg-4 col-form-label mb-0">Account No.:</label>
                                <div class="col-lg-8">
                                    <span id="spanAccountNo" class="mb-0"></span>
                                    @*<input type="text" class="form-control" value="1678900000" id="inputApprovedAdvanceAccNo" readonly>*@
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row align-items-center mobile-width">
                                <label class="col-lg-4 col-form-label">SAP Reference No.:</label>
                                <div class="col-lg-8">
                                    <span id="spanSAPReferenceNo" class="mb-0"></span>
                                    @*<input type="text" class="form-control" value="1678900000" id="inputApprovedAdvanceAccNo" readonly>*@
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row align-items-center mobile-width">
                                <label class="col-lg-4 col-form-label mb-0">Transaction Date:</label>
                                <div class="col-lg-8">
                                    <span id="spanTransactionDate" class="mb-0"></span>
                                    @*<input type="text" class="form-control" value="1678900000" id="inputApprovedAdvanceAccNo" readonly>*@
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row align-items-center mobile-width">
                                <label class="col-lg-4 col-form-label mb-0">UTR No.:</label>
                                <div class="col-lg-8">
                                    <span id="spanUTRNo" class="mb-0"></span>
                                    @*<input type="text" class="form-control" value="1678900000" id="inputApprovedAdvanceAccNo" readonly>*@
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        @*topUp Data DynamicallyLoaded*@
        <div id="topUpDetails">
        </div>
        <div id="divTopUp">
            <div id="divTopUpEstimate" class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">New Top Up Request</h4>
                        <div class="row">

                            <div class="col-md-6 mt-4">
                                <div class="form-group row">
                                    <label class="col-sm-5 col-form-label">Revise Estimate Amount</label>
                                    <div class="col-sm-3 estimatemobile">
                                        <input onfocusout="ReviseEstimateAmount_click(this)" id="inputReviseEstimateAmount" type="tel" class="form-control amt" placeholder="₹ 1,80,000.00">
                                    </div>
                                    <div class="col-sm-4 estimatemobileupload">
                                        <div class="form-group">
                                            <button type="button" onclick="TrigerModalUploadFile('Revise Estimate Amount','ReviseEstimateAmount')" class="btn mobile btn-upload" style="padding: 12px 0 !important;"><i class="fa fa-upload up  " aria-hidden="true"></i> Upload File<span id="spanReviseEstimateAmount" class="file-status">0</span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 mt-4">
                                <div class="form-group row">
                                    <label class="col-sm-5 col-form-label">Top Up Amount Required</label>
                                    <div class="col-sm-7">
                                        <input readonly onfocusout="ReviseTopUpAmountRequired_click(this)" id="inputTopUpAmountRequired" type="text" class="form-control amo" placeholder="₹ 80,000.00">
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class=" mt-3">
                            <div class="form-group row">
                                <label class="col-sm-12 col-form-label err">* For parent, the maximum advance limit is 80% of the Hospital's Estimate Amount.</label>

                            </div>
                        </div>
                        <div class="row payto">
                            <div class="col-md-4">
                                <label class="form-check-label Pay">
                                    Pay To
                                </label>
                            </div>
                            <div class="col-md-4 self">
                                <label class="form-check-label">
                                    <input type="radio" onchange="rbt_self_onchange(this)" class="form-check-input" checked name="optionsRadios" id="radioPaytoSelfTopUp" value="self">
                                    Anil(Self)
                                </label>
                            </div>
                            <div class="col-md-4 self">
                                <label class="form-check-label">
                                    <input type="radio" onchange="rbt_self_onchange(this)" class="form-check-input" name="optionsRadios" id="radioPaytoHostelTopUp" value="hospital">
                                    Hospital
                                </label>
                            </div>

                        </div>

                        <div class="row totalad">


                            <div class="col-md-6">
                                <div class="form-group row">
                                    @*<label class="col-sm-6 col-form-label td"><b>Total Advance:</b><b id="spanTotalAdvance"> ₹ 7,000</b></label>*@
                                    <div class="col-sm-6">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group rowsub">
                                    @*   <button onclick="topup_submit_click(this)" type="button" class="btn btn-primary mb-2 advclam">Submit</button>*@
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>


            @*<div id="divTopUpEstimate" style="display:none" class="col-12 grid-margin">
            <div class="card">
            <div class="card-body">
            <h4 class="text-primary mb-5">
            Hospital Bank Detail
            </h4>
            <form class="form-sample">
            <div class="row">
            <div class="col-md-6">
            <div class="form-group row">
            <label class="col-sm-5 col-form-label">Bank Name</label>
            <div class="col-sm-7 advance">
            <input id="inputBankName" type="text" class="form-control" placeholder="Canara Bank">
            </div>
            </div>
            </div>
            <div class="col-md-6">
            <div class="form-group row">
            <label class="col-sm-5 col-form-label">IFSC Code</label>
            <div class="col-sm-7 advance">
            <input id="inputIFSC" type="text" class="form-control" placeholder="CNRB0002301">
            </div>
            </div>
            </div>
            </div>
            <div class="row">

            <div class="col-md-6">
            <div class="form-group row">
            <label class="col-sm-5 col-form-label">Beneficiary Name</label>
            <div class="col-sm-7 advance">
            <input id="inputBeneficiaryName" type="text" class="form-control" placeholder="Kamal">
            </div>
            </div>
            </div>


            </div>
            <div class="row">


            <div class="col-md-6">
            <div class="form-group row">
            <label class="col-sm-5 col-form-label">Beneficiary Account No.</label>
            <div class="col-sm-7 advance">
            <input id="inputAccountNo" type="text" class="form-control" placeholder="2706104046076">
            </div>
            </div>
            </div>
            <div class="col-md-6">
            <div class="form-group row">
            <label class="col-sm-5 col-form-label">Confirm Account No.</label>
            <div class="col-sm-7 advance">
            <input id="inputConfirmAccountNo" type="text" class="form-control" placeholder="2706104046076">
            </div>
            </div>
            </div>
            </div>


            <div class="row">
            </div>
            <div style="float:right">
            <button id="btnSubmitAfterBankDetails" type="button" class="btn btn-primary mb-2">Submit</button>
            </div>
            </form>


            </div>




            </div>

            </div>*@
        </div>

    </div>
    <div id="divhospitaldetails" style="display:none;" class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h4 class="text-primary mb-5">
                    Hospital Bank Detail
                </h4>

                <div class="form-sample">
                    <div id="divEmPanelledTopUp" style="display:none" class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label">Hospital Empanelled</label>

                                <div class="col-sm-3">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input id="radioHospitalEmpanelledYesTopUP" onclick="HospitalEmpanelledTopUp_Click(this,'Yes')" name="SpecialDisease" type="radio" class="form-check-input">
                                            Yes
                                        </label>
                                    </div>

                                </div>
                                <div class="col-sm-3">

                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input id="radioHospitalEmpanelledNoTopUp" checked onclick="HospitalEmpanelledTopUp_Click(this,'No')" name="SpecialDisease" checked type="radio" class="form-check-input">
                                            No
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="divSelectHospitalTopUp" style="display:none" class="col-md-6">
                            <div class="form-group row impanelled">
                                <label class="col-sm-5 col-form-label">Select Hospital</label>
                                <div class="col-sm-7">
                                    <select id="selectHospitalTopUp" class="form-control">
                                        <option value="AIIMS">AIIMS</option>
                                        <option value="LNJP">LNJP</option>

                                    </select>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div id="divHospitalAccountDetailsNotEmpenlled">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-5 col-form-label">IFSC Code</label>
                                    <div class="col-sm-7 advance">
                                        <input id="inputIFSC" onfocusout="inputIFSC_OnFocusOut()" name="IFSCCode" type="text" class="form-control" placeholder="CNRB0002301">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-5 col-form-label">Bank Name</label>
                                    <div class="col-sm-7 advance">
                                        <input id="inputBankName" name="inputBankName" type="text" class="form-control" placeholder="Canara Bank">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-5 col-form-label">Branch Name</label>
                                    <div class="col-sm-7 advance">
                                        <input id="inputBranchName" type="text" class="form-control" placeholder="">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-5 col-form-label">Beneficiary Name</label>
                                    <div class="col-sm-7 advance">
                                        <input id="inputBeneficiaryName" name="BeneficiaryName" type="text" class="form-control" placeholder="Kamal">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6"></div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-5 col-form-label">Beneficiary Account No.</label>
                                    <div class="col-sm-7 advance">
                                        <input id="inputAccountNo" name="AccountNumber" type="text" class="form-control" placeholder="2706104046076">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-5 col-form-label">Confirm Account No.</label>
                                    <div class="col-sm-7 advance">
                                        <input id="inputConfirmAccountNo" name="inputConfirmAccountNo" type="text" class="form-control" placeholder="2706104046076">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-5 col-form-label">Hospital GST No.</label>
                                    <div class="col-sm-7 advance">
                                        <input id="inputGstNo" type="text" name="GSTNumber" class="form-control" placeholder="GSTIN0056I">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-5 col-form-label">Confirm GST No.</label>
                                    <div class="col-sm-7 advance">
                                        <input id="inputConfirmGstNo" name="inputConfirmGstNo" type="text" class="form-control" placeholder="GSTIN0056I">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                        </div>
                    </div>

                </div>


            </div>




        </div>
    </div>
</form>

<div style="display:none" id="divSubmit">
    <hr class="exp" />
    <div class="row" mb-4>
        <div class="col-sm-12">
            <div class="form-check">
                <label class="form-check-label">
                    <input id="checkboxDeclaration" onclick="checkboxDeclaration_cick(this)" type="checkbox" class="form-check-input">
                    I the undersigned hereby declare that the information given in this form is correct and complete to the best of my knowledge and belief.
                </label>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4 self">
        </div>
        <div class="col-md-4 self">
            <button type="submit" id="btnAdvanceRequest" disabled class="btn btn-primary mb-2">Submit</button>
            @* <button onclick="btnClaimSubmit_Click(this)" id="btnClaimSubmit" disabled class="btn btn-primary inpatient">Submit</button>*@
        </div>

    </div>
</div>


<div class="bs-example">


    <!-- Modal HTML -->
    <div id="myModal" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myModalTitle">Modal Title</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div enctype="multipart/form-data" id="form-upload">
                        <div class="form-group mt-5">
                            <label for="">Choose Images</label>
                            <input type="file" class="form-control" name="images[]" id="upload-img" />
                            <br />
                            <label for=""><span id="spnComment"></span> Comment</label>
                            <textarea class="form-control" id="textareaComment" rows="4"></textarea>
                        </div>
                        <div class="img-thumbs img-thumbs-hidden" id="img-preview"></div>
                        @*<button type="button" class="btn btn-primary mb-2">Upload</button>*@
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>
                                            S.NO
                                        </th>
                                        <th>
                                            Category
                                        </th>
                                        <th>
                                            Remarks
                                        </th>
                                        <th>
                                            File
                                        </th>
                                        <th>
                                            Action
                                        </th>

                                    </tr>
                                </thead>
                                <tbody id="trBodyUploadDoc">
                                    <tr>
                                        <td class="py-1">
                                            1
                                        </td>
                                        <td>
                                            Diagnosis
                                        </td>
                                        <td>
                                            ...........
                                        </td>
                                        <td>
                                            <i class="fa fa-file-pdf-o filepdfFontAwesome" aria-hidden="true"></i>
                                        </td>

                                        <td>
                                            <i onclick="delete_file(1)" class="fa fa-trash trashFontAwesome" aria-hidden="true"></i>
                                        </td>

                                    </tr>


                                </tbody>
                            </table>
                        </div>


                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Done</button>
                    @*<button type="submit" class="btn btn-primary mb-2" id="btnUploadSubmit">Submit</button>*@

                </div>
            </div>
        </div>
    </div>
    <div id="Hospitalmodel" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myModalTitle">Hospital Bank Details</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-sample">

                        <div class="row">


                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Bank Name</label>
                                    <div class="col-sm-8">
                                        <input required type="text" class="form-control">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Beneficiary Name</label>
                                    <div class="col-sm-8">
                                        <input required type="text" class="form-control">
                                    </div>
                                </div>
                            </div>

                        </div>



                    </div>
                </div>
                <div class="modal-footer">
                    @* <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button> *@
                    <button type="button" class="btn btn-primary mb-2" id="btnUploadSubmit">Submit</button>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- The View Modal Starts -->
<div class="modal fade" id="viewModal">
    <div class="modal-dialog">
        <div class="modal-content viewModal-content">
            <div class="modal-inner-border">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 id="modelTitle" class="modal-title viewModal-head">Admission Advice</h4>
                    <button type="button" class="close viewModal-close" data-dismiss="modal"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body view-table-body">
                    <div class="view-table-cnt">
                        <div class="responsive-table">
                            <table class="table view-table">
                                <thead>
                                    <tr bgcolor="">
                                        <th>Sr No.</th>
                                        <th>Category</th>
                                        <th>Files</th>
                                    </tr>
                                </thead>
                                <tbody id="tbodyViewDocuments">

                                    @*<tr>
                                    <td>2.</td>
                                    <td>Admission Advice</td>
                                    <td><a href="javascript:void(0)" class="file-link"><span class="ti-files"></span></a></td>
                                    </tr>
                                    <tr>
                                    <td>3.</td>
                                    <td>Admission Advice</td>
                                    <td><a href="javascript:void(0)" class="file-link"><span class="ti-files"></span></a></td>
                                    </tr>*@
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .error {
        color: red;
    }
</style>





<style>
    .bs-example {
        margin: 20px;
    }




    .form-group label {
        font-weight: 500;
    }

    .modal .modal-dialog .modal-content .modal-body {
        padding: 0px 13px;
    }
    /* .modal-content{
                                                                                                                                                                                    width:800px!important;
                                                                                                                                                                                } */
    @@media (min-width: 576px) {
        .modal-dialog {
            max-width: 686px;
            margin: auto;
        }
    }

    .modal .modal-dialog {
        margin-top: 12px;
    }

    .img-thumbs {
        background: #eee;
        border: 1px solid #ccc;
        border-radius: 0.25rem;
        margin: 1.5rem 0;
        padding: 0.75rem;
    }

    .img-thumbs-hidden {
        display: none;
    }

    .wrapper-thumb {
        position: relative;
        display: inline-block;
        margin: 1rem 0;
        justify-content: space-around;
    }

    .img-preview-thumb {
        background: #fff;
        border: 1px solid none;
        border-radius: 0.25rem;
        box-shadow: 0.125rem 0.125rem 0.0625rem rgba(0, 0, 0, 0.12);
        margin-right: 1rem;
        max-width: 140px;
        padding: 0.25rem;
    }

    .remove-btn {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: .7rem;
        top: -5px;
        right: 10px;
        width: 20px;
        height: 20px;
        background: white;
        border-radius: 10px;
        font-weight: bold;
        cursor: pointer;
    }

        .remove-btn:hover {
            box-shadow: 0px 0px 3px grey;
            transition: all .3s ease-in-out;
        }

    .form-span-output div > span {
        font-weight: 400;
        font-size: 16px;
    }

    label.col-sm-4.col-form-label {
        font-weight: 500;
    }

    @@media(max-width:600) {
        .mobile-width .col-sm-4, .col-lg-8 {
            width: 50% !important;
        }
    }
</style>




<script>



    $('#btnUploadSubmit').click(function () {
        window.location.href = '/Claim/Advance';
    })
</script>


<style>
    .bs-example {
        margin: 20px;
    }

    .modal .modal-dialog .modal-content .modal-body {
        padding: 0px 13px;
    }
    /* .modal-content{
                                                                                                                                                                width:800px!important;
                                                                                                                                                            } */
    @@media (min-width: 576px) {
        .modal-dialog {
            max-width: 686px;
            margin: auto;
        }
    }

    .modal .modal-dialog {
        margin-top: 12px;
    }

    .img-thumbs {
        background: #eee;
        border: 1px solid #ccc;
        border-radius: 0.25rem;
        margin: 1.5rem 0;
        padding: 0.75rem;
    }

    .img-thumbs-hidden {
        display: none;
    }

    .wrapper-thumb {
        position: relative;
        display: inline-block;
        margin: 1rem 0;
        justify-content: space-around;
    }

    .img-preview-thumb {
        background: #fff;
        border: 1px solid none;
        border-radius: 0.25rem;
        box-shadow: 0.125rem 0.125rem 0.0625rem rgba(0, 0, 0, 0.12);
        margin-right: 1rem;
        max-width: 140px;
        padding: 0.25rem;
    }

    .remove-btn {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: .7rem;
        top: -5px;
        right: 10px;
        width: 20px;
        height: 20px;
        background: white;
        border-radius: 10px;
        font-weight: bold;
        cursor: pointer;
    }

        .remove-btn:hover {
            box-shadow: 0px 0px 3px grey;
            transition: all .3s ease-in-out;
        }

    @@media(max-width:600px) {

        .mobile-width .col-sm-4 {
            width: 50%;
        }

        .mobile-width .col-sm-8 {
            width: 50%;
        }

        .mobile-width.col-sm-4 {
            width: 50%;
        }

        .file-status {
            width: 18px !important;
            height: 18px !important;
            box-shadow: 0 0 7px -1px #007547;
            margin: 0 0 0 6px !important;
            padding: 2px 0 0 0 !important;
        }
    }
</style>

@*
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
 *@
<script src="~/customjs/claim/Advance.js" asp-append-version="true"></script>


<script>
    $(document).ready(function () {

    });
    function SelectHospitalFile(type) {

        $("#Hospitalmodel").modal('show');
        $('#myModalTitle').html(type);
        $('#spnComment').html(type);
        return false;

    }
    function rbt_chnage(e) {
        var hospitaldetails = document.getElementById('hospitaldetails');
        var btnself = document.getElementById('btnself');
        if (e.value == 'self') {
            hospitaldetails.style.display = 'none';
            btnself.style.display = 'block';
        }
        else {
            hospitaldetails.style.display = 'block';
            btnself.style.display = 'none';

        }

    }

</script>

<script>
    $(window).on("load", function () {

        $('#lnkadmin').addClass('collapsed');
        $('#charts').removeClass('show');
        $('#isAdminActive').removeClass('active');
        return false;
    });
    $(document).ready(function () {
        $('#advanceClick').click(function () {
            $('#lnkadmin').addClass('collapsed');
            $('#charts').removeClass('show');
            $('#isAdminActive').removeClass('active');
        });


    });
</script>
<script>
    $(window).on('load', function () {
        $('.page-loader').hide();
    });
</script>
<script>
    document.getElementById("inputDateOfAdmission").min = new Date().getFullYear() + "-" + parseInt(new Date().getMonth() + 1) + "-" + new Date().getDate()
</script>
<script>
    var jq = $.noConflict();
    jq(document).ready(function () {
        jq('#btnAdvanceRequest').click(function () {
            // jq.validator.setDefaults({
            //     debug: true,
            //     success: "valid"
            // });


            jq.extend(jq.validator.messages, {
                required: "This field is required.",
                remote: "Please fix this field.",
                email: "Please enter a valid email address.",
                url: "Please enter a valid URL.",
                date: "Please enter a valid date.",
                dateISO: "Please enter a valid date (ISO).",
                number: "Please enter a valid number.",
                digits: "Please enter only digits.",
                creditcard: "Please enter a valid credit card number.",
                equalTo: jq.validator.format("{0} not match."),
                accept: "Please enter a value with a valid extension."

            });

            jq('form[id="advanceForm"]').validate({
                rules: {
                    inputHospitalName: 'required',
                    inputDateOfAdmission: 'required',
                    inputDoctorName: 'required',
                    inputDiagnosis: 'required',


                    IFSCCode: {
                        required: function (element) {
                            if ($("input[name=radioPayto]:checked").val() == 'hospital') {
                                return true;
                            }
                            else {
                                return false;
                            }
                        }
                    },
                    messages: {
                        IFSCCode: { required: "This field is required" }
                    },

                    BeneficiaryName: {
                        required: function (element) {
                            if ($("input[name=radioPayto]:checked").val() == 'hospital') {
                                return true;
                            }
                            else {
                                return false;
                            }
                        }
                    },
                    messages: {
                        BeneficiaryName: { required: "This field is required" }
                    },


                    AccountNumber: {
                        required: function (element) {
                            if ($("input[name=radioPayto]:checked").val() == 'hospital') {
                                return true;
                            }
                            else {
                                return false;
                            }
                        }
                    },
                    messages: {
                        AccountNumber: { required: "This field is required" }
                    },


                    inputConfirmAccountNo: {
                        required: function (element) {
                            if ($("input[name=radioPayto]:checked").val() == 'hospital') {
                                return true;
                            }
                            else {
                                return false;
                            }
                        },
                        equalTo: 'AccountNumber',

                    },
                    messages: {
                        inputConfirmAccountNo: { required: "This field is required" }
                    },





                    GSTNumber: {
                        required: function (element) {
                            if ($("input[name=radioPayto]:checked").val() == 'hospital') {
                                return true;
                            }
                            else {
                                return false;
                            }
                        }
                    },
                    messages: {
                        GSTNumber: { required: "This field is required" }
                    },


                    inputConfirmGstNo: {
                        required: function (element) {
                            if ($("input[name=radioPayto]:checked").val() == 'hospital') {
                                return true;
                            }
                            else {
                                return false;
                            }
                        },
                        equalTo: 'GSTNumber',

                    },
                    messages: {
                        inputConfirmGstNo: { required: "This field is required" }
                    },

                    inputAdvanceRequired: {
                        required: true,
                        digits: true
                    },
                    messages: {
                        inputAdvanceRequired: { required: "This field is required", digits: "Please enter numbers Only" }
                    },
                    inputEstimateAmount: {
                        required: true,
                        digits: true
                    },
                    messages: {
                        inputEstimateAmount: { required: "This field is required", digits: "Please enter numbers Only" }
                    }
                },
                messages: {
                    inputHospitalName: 'This field is required',
                    inputDateOfAdmission: 'This field is required',
                    inputDoctorName: 'This field is required',
                    inputDiagnosis: 'This field is required',
                },
                submitHandler: function (form) {
                    // // form.submit();
                    alert()

                }
            });


            var isformisValid = true;
            if ($('#spanEstimateAmount').html() == 0 && $('#spanAdmissionAdvice').html() == 0) {
                swal({
                    title: 'Invalid !',
                    text: 'Please upload estimate and admission advice.',
                    type: 'error'
                });
                isformisValid = false;
            }
            else if ($('#spanEstimateAmount').html() == 0) {
                swal({
                    title: 'Invalid !',
                    text: 'Please upload estimate.',
                    type: 'error'
                });
                isformisValid = false;
            }
            else if ($('#spanAdmissionAdvice').html() == 0) {
                swal({
                    title: 'Invalid !',
                    text: 'Please upload admission advice.',
                    type: 'error'
                });
                isformisValid = false;
            }
            else
            {
                isformisValid = true;
            }
            if (jq("#advanceForm").valid()) {
                if (isformisValid) {
                    btnAdvanceRequestSubmit_Click();
                }

            }
        });
    });
</script>
